.chatwin {
  display: flex;
  height: 90vh;
  margin-top: 50px;
}

.chat-screen {
  display: flex;
  width: 100%;
  background-color: #f4f5f6;
  overflow: hidden;
}

.chat-sidebar-container {
  width: 250px; /* Fixed width for the sidebar */
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  z-index: 1;
}

.chat-window-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #e5ddd5;
  height: 100%;
  padding: 20px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .chatwin {
    flex-direction: column; /* Stack the sidebar and chat window on smaller screens */
  }

  .chat-sidebar-container {
    width: 100%;
    height: 50px; /* Make the sidebar smaller */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #ffffff;
  }

  .chat-window-container {
    margin-top: 50px; /* Add space for the fixed sidebar */
  }
}
